In [2]:
import pandas as pd
import numpy as n
import string
import re

from cluster import *

In [ ]:
def cluster_groups(group):
    orgs = [{'oid': oid, 'clustered': 0} for oid in group['name'].index]
    for row in orgs:
        row['name'] = group['name'][row['oid']]
        
    return stage1_cluster(orgs)

In [ ]:
def make_group_clusters(group_df):
    levenshtein_clusters = {}

    for k in list(group_df.groups.keys()):
        levenshtein_clusters.update(cluster_groups(group_df.get_group(k)))
        
    return levenshtein_clusters

In [3]:
def preprocess_name(x):
    x = str(x)
    x = (x.lower() + ".").replace("assn", "association").replace("assoc.", "association")
    x = x.replace("non-", "non ")
    #x = x.split("pac")[0]
    #x = x.split("(")[0]
    #x = x.split("\\")[0]
    #x = x.split("/")[0]
    #x = x.split("-")[0]
    x = re.sub(r'\bassoc\b', "association", x)
    x = re.sub(r'\bcorporation\b', "", x)
    x = re.sub(r'\bgroup\b', "", x)
    x = re.sub(r'\bdept\b', "department", x)
    x = re.sub(r'\badmin\b', "administrative", x)
    x = re.sub(r'\bemp\b', "employment", x)
    x = re.sub(r'\bpro\b', "professional", x)
    x = re.sub(r'\bco\b', "", x)
    x = re.sub(r'\bcalif\b', "california", x)
    x = re.sub(r'\bcal\b', "california", x)
    x = re.sub(r'\bcompanies\b', "", x)
    x = re.sub(r'\bcompany\b', "", x)
    x = x.replace("&", " and ")
    x = x.replace("exp.", "expenditures")
    x = x.replace("inc", "")
    x = x.replace("llc", "")
    x = x.replace("llp", "")
    x = x.replace("lp", "")
    x = x.replace("'s", "")
    x = re.sub(r",|\.|'|`|\"|!", "", x)
    x = re.sub( '\s+', ' ', x).strip()
    x = re.sub(r'\bca\b', "california", x)
    x = re.sub(r'\bnv\b', "nevada", x)
    x = "".join([word[:-1] if word.endswith("s") else word for word in x.split(" ")])
    return x.strip()

def preprocess_df(df):      
    df["processed_name"] = df["name"].apply(preprocess_name)
    df["city"] = df["city"].str.lower()
    df["stateHeadquartered"] = data["stateHeadquartered"].str.lower()
    return df

preprocess_name('california association of non-profit')

'californiaassociationofnonprofit'

In [4]:
data = pd.read_csv("data.csv")
data.set_index("oid", inplace=True)
data = preprocess_df(data)
data.groupby(["processed_name"]).groups

{'calderracecourse': Int64Index([139076, 153509], dtype='int64', name='oid'),
 'centenecorp': Int64Index([137065, 144892], dtype='int64', name='oid'),
 'centralfloridacitizenforjustice': Int64Index([139006, 144786], dtype='int64', name='oid'),
 'chevroncorp': Int64Index([137580, 144867, 144958, 153510], dtype='int64', name='oid'),
 'cityoffresno': Int64Index([ 7873, 22459, 48854, 58222, 58223, 58268, 58269, 58289, 58290,
             58306, 58307, 61624, 61629, 61636, 71059],
            dtype='int64', name='oid'),
 'closterfarm': Int64Index([138802, 153493], dtype='int64', name='oid'),
 'comcast': Int64Index([32780, 121513, 144763, 144781, 151317, 153424], dtype='int64', name='oid'),
 'conservativepripleforflorida': Int64Index([138619, 153483, 153648, 153651], dtype='int64', name='oid')}

In [5]:
data200 = pd.read_csv("data200.csv")
data200.set_index("oid", inplace=True)
data200 = preprocess_df(data200);
data200_groups = data200.groupby(["processed_name"])

In [6]:
len(data200_groups.groups)

166

In [100]:
group200_clusters = make_group_clusters(data200_groups)
len(group200_clusters.keys())

187

In [9]:
data500 = pd.read_csv("data500.csv")
data500.set_index("oid", inplace=True)
data500 = preprocess_df(data500)
data500_groups = data500.groupby(["processed_name"])
len(data500_groups.groups)

393

In [104]:
group500_clusters = make_group_clusters(data500_groups)
len(group500_clusters.keys())

428

In [8]:
data2k = pd.read_csv("data2k.csv")
data2k.set_index("oid", inplace=True)
data2k = preprocess_df(data2k)
data2k_groups = data2k.groupby(["processed_name"])
len(data2k_groups.groups)

1430

In [106]:
group2k_clusters = make_group_clusters(data2k_groups)
len(group2k_clusters.keys())

1656

In [10]:
data20k = pd.read_csv("data20k.csv")
data20k.set_index("oid", inplace=True)
data20k = preprocess_df(data20k)
data20k_groups = data20k.groupby(["processed_name"])
len(data20k_groups.groups)

15222

In [108]:
group20k_clusters = make_group_clusters(data20k_groups)
len(group20k_clusters.keys())

15973

In [11]:
dataAll = pd.read_csv("dataAll.csv")
dataAll.set_index("oid", inplace=True)
dataAll = preprocess_df(dataAll)
allGroups = dataAll.groupby(["processed_name"]) #.count().to_csv("trimmed.csv")
len(allGroups.groups)

110446

In [38]:
allGroups.get_group('#cut50')

             name city stateHeadquartered processed_name
oid
134789.0   #cut50  NaN                NaN         #cut50
138087.0   #cut50  NaN                NaN         #cut50
174612.0  #Cut 50  NaN                NaN         #cut50

In [32]:
for k in list(allGroups.groups.keys())[200:250]:
    print(k)
    print(allGroups.get_group(k))

15version)
                name city stateHeadquartered processed_name
oid
99690.0  15 version)  NaN                NaN     15version)
160wgdevelopment
                              name           city stateHeadquartered  \
oid
76487.0  160 W.G. Development, LLC  monterey park                NaN

           processed_name
oid
76487.0  160wgdevelopment
1615miamiroadoperation
                                     name city stateHeadquartered  \
oid
173607.0  1615 MIAMI ROAD OPERATIONS, LLC  NaN                NaN

                  processed_name
oid
173607.0  1615miamiroadoperation
162individualresident
                              name city stateHeadquartered  \
oid
102960.0  162 individual residents  NaN                NaN

                 processed_name
oid
102960.0  162individualresident
1634pinestreet
                          name           city stateHeadquartered  \
oid
71213.0  1634 Pine Street, LLC  san francisco                NaN

         processed_name
oid
71213.0  1634pinestreet
1650wealthmanagement
                                name city stateHeadquartered  \
oid
167047.0  1650 WEALTH MANAGEMENT LLC  NaN                NaN

                processed_name
oid
167047.0  1650wealthmanagement
165thstreet
                      name city stateHeadquartered processed_name
oid
160033.0  165TH STREET INC  NaN                NaN    165thstreet
16capitalinvestment
                            name city stateHeadquartered       processed_name
oid
150279.0  16 Capital Investments  NaN                NaN  16capitalinvestment
16foracompletelist)
                              name city stateHeadquartered  \
oid
101741.0  16 for a complete list.)  NaN                NaN

               processed_name
oid
101741.0  16foracompletelist)
16individual
                    name city stateHeadquartered processed_name
oid
132712.0  16 Individuals  NaN                NaN   16individual
16retirednasaastronaut
                                name city stateHeadquartered  \
oid
101670.0  16 retired NASA astronauts  NaN                NaN

                  processed_name
oid
101670.0  16retirednasaastronaut
17-18coapdf]
                   name city stateHeadquartered processed_name
oid
174577.0  17-18Coa.Pdf]  NaN                NaN   17-18coapdf]
1710:26:36
                 name city stateHeadquartered processed_name
oid
153157.0  17 10:26:36  NaN                NaN     1710:26:36
1711:36:27
                 name city stateHeadquartered processed_name
oid
154028.0  17 11:36:27  NaN                NaN     1711:36:27
1712:58:55
                 name city stateHeadquartered processed_name
oid
153129.0  17 12:58:55  NaN                NaN     1712:58:55
1713:24:15
                 name city stateHeadquartered processed_name
oid
152916.0  17 13:24:15  NaN                NaN     1713:24:15
1715:28:09
                 name city stateHeadquartered processed_name
oid
175065.0  17 15:28:09  NaN                NaN     1715:28:09
1715:33:16
                 name city stateHeadquartered processed_name
oid
152741.0  17 15:33:16  NaN                NaN     1715:33:16
1716:13:39
                 name city stateHeadquartered processed_name
oid
174583.0  17 16:13:39  NaN                NaN     1716:13:39
1716:26:48
                 name city stateHeadquartered processed_name
oid
152556.0  17 16:26:48  NaN                NaN     1716:26:48
1716:26:50
                 name city stateHeadquartered processed_name
oid
152567.0  17 16:26:50  NaN                NaN     1716:26:50
1716:26:58
                 name city stateHeadquartered processed_name
oid
153103.0  17 16:26:58  NaN                NaN     1716:26:58
1717:05:28
                 name city stateHeadquartered processed_name
oid
153077.0  17 17:05:28  NaN                NaN     1717:05:28
1718:21:10
                 name city stateHeadquartered processed_name
oid
153310.0  17 18:21:10  NaN                NaN     1718:21:10
1718:27:31
                 name city stateHeadquartered processed_name
oid
153386.0  17 18:27:31  NaN                NaN     1718:27:31
1737yorkrealty
                          name city stateHeadquartered  processed_name
oid
115183.0  1737 YORK REALTY LLC  NaN                NaN  1737yorkrealty
1790thirdave
                        name city stateHeadquartered processed_name
oid
115876.0  1790 THIRD AVE LLC  NaN                NaN   1790thirdave
17formercaliforniacoastalcommissioner
                                               name city stateHeadquartered  \
oid
99605.0  17 former California Coastal Commissioners  NaN                NaN

                                processed_name
oid
99605.0  17formercaliforniacoastalcommissioner
17individual
                    name city stateHeadquartered processed_name
oid
131780.0  17 Individuals  NaN                NaN   17individual
17individuallegalscholar
                                 name city stateHeadquartered  \
oid
96237.0  17 individual legal scholars  NaN                NaN

                   processed_name
oid
96237.0  17individuallegalscholar
17lawschoolprofessor
                              name city stateHeadquartered  \
oid
103595.0  17 Law School Professors  NaN                NaN

                processed_name
oid
103595.0  17lawschoolprofessor
17locustavenue
                          name city stateHeadquartered  processed_name
oid
115859.0  17 LOCUST AVENUE LLC  NaN                NaN  17locustavenue
17thwarddemocraticcmte
                               name city stateHeadquartered  \
oid
118194.0  17TH WARD DEMOCRATIC CMTE  NaN                NaN

                  processed_name
oid
118194.0  17thwarddemocraticcmte
1800contact
                       name    city stateHeadquartered processed_name
oid
110157.0  1800 Contacts Inc  draper                NaN    1800contact
1801l
           name    city stateHeadquartered processed_name
oid
56542.0  1801 L  folsom                NaN          1801l
1820shoredriveoperation
                                      name city stateHeadquartered  \
oid
173608.0  1820 SHORE DRIVE OPERATIONS, LLC  NaN                NaN

                   processed_name
oid
173608.0  1820shoredriveoperation
1850realty
                name        city stateHeadquartered processed_name
oid
46843.0  1850 Realty  san marcos                NaN     1850realty
1851elkcamboulevardoperation
                                           name city stateHeadquartered  \
oid
173609.0  1851 ELKCAM BOULEVARD OPERATIONS, LLC  NaN                NaN

                        processed_name
oid
173609.0  1851elkcamboulevardoperation
1851vineyard
                        name city stateHeadquartered processed_name
oid
181758.0  1851 Vineyards LLC  NaN                NaN   1851vineyard
187carltonavenuecorp
                              name city stateHeadquartered  \
oid
116745.0  187 CARLTON AVENUE CORP.  NaN                NaN

                processed_name
oid
116745.0  187carltonavenuecorp
187individual
                     name city stateHeadquartered processed_name
oid
143615.0  187 individuals  NaN                NaN  187individual
18bernlofsthomeownerassociation
                                         name           city  \
oid
75942.0  18 Bernlof St. Homeowner Association  san francisco

        stateHeadquartered                   processed_name
oid
75942.0                NaN  18bernlofsthomeownerassociation
18individual
                    name city stateHeadquartered processed_name
oid
132850.0  18 Individuals  NaN                NaN   18individual
18millionrisingorg
                         name city stateHeadquartered      processed_name
oid
133751.0  18MillionRising.org  NaN                NaN  18millionrisingorg
18thstreetartcenter
                             name city stateHeadquartered       processed_name
oid
135565.0  18th Street Arts Center  NaN                NaN  18thstreetartcenter
18|8finemenhairsalonofplayavista
                                              name city stateHeadquartered  \
oid
94029.0  18|8 Fine Men's Hair Salon of Playa Vista  NaN                NaN

                           processed_name
oid
94029.0  18|8finemenhairsalonofplayavista
1901southandrewavenue
                                   name city stateHeadquartered  \
oid
171893.0  1901 SOUTH ANDREWS AVENUE LLC  NaN                NaN

                 processed_name
oid

171893.0  1901southandrewavenue
1937jenkavenueoperation
                                       name city stateHeadquartered  \
oid
173610.0  1937 JENKS AVENUE OPERATIONS, LLC  NaN                NaN

                   processed_name
oid
173610.0  1937jenkavenueoperation
195mattiemkellyblvdoperation
                                               name city stateHeadquartered  \
oid
173611.0  195 MATTIE M. KELLY BLVD. OPERATIONS, LLC  NaN                NaN

                        processed_name
oid
173611.0  195mattiemkellyblvdoperation
1978thirdave
                        name city stateHeadquartered processed_name
oid
115860.0  1978 THIRD AVE LLC  NaN                NaN   1978thirdave