In [7]:
from AlignmentMeter import *
%reload_ext autoreload
%autoreload 2

In [2]:
from datetime import datetime

In [8]:
leg_votes_df = pickle.load(open('leg_votes_df.p', 'rb'))

In [37]:
oid_alignments_df = pickle.load(open('oid_alignments_df.p', 'rb'))

In [342]:
org_alignments_df = pickle.load(open('org_alignments_df.p', 'rb'))

In [303]:
concept_alignments_df = pickle.load(open('concept_alignments_df.p', 'rb'))

In [483]:
alignments_df = pickle.load(open('alignments_df.p', 'rb'))

In [43]:
strata_df = pickle.load(open('strata_df.p', 'rb'))

In [44]:
strata_df_prod = pickle.load(open('strata_df_prod.p', 'rb'))

In [2]:
votes_strata_df = pickle.load(open('votes_strata_df.p', 'rb'))

In [486]:
scores_df = pickle.load(open('scores_df.p', 'rb'))

In [37]:
alignment_votes_df = pickle.load(open('alignment_votes_df.p', 'rb'))

In [7]:
leg_scores_df = pickle.load(open('leg_scores_df.p', 'rb'))

In [28]:
leg_scores_alt_df = pickle.load(open('leg_scores_alt_df.p', 'rb'))

In [33]:
alignment_row = pickle.load(open('alignment_row.p', 'rb'))

In [252]:
g_df = pickle.load(open('g_df.p', 'rb'))

In [81]:
group_df = pickle.load(open('group_df.p', 'rb'))

In [83]:
df = pickle.load(open('df.p', 'rb'))

In [218]:
oid_alignments_df = pickle.load(open('oid_alignments_df_test1.p', 'rb'))

In [6]:
scores_df_lst = pickle.load(open('scores_df_lst_final.p', 'rb'))

In [7]:
org_alignments_df = pickle.load(open('concept_alignments_df.p', 'rb'))

In [8]:
df.head()

,pid,voteId,result,state,lastTouched,dr_id,lastTouched_ts,bid,date,unanimous,resolution,hid,first,middle,last,abstain_vote
0,1,34690,For,CA,2016-07-12 23:24:54,2,1468365894,CA_201520160SCR10,2015-02-09,1,1,588,Isadore,None,Hall,False
1,1,34691,For,CA,2016-07-12 23:24:54,3,1468365894,CA_201520160SR11,2015-02-09,1,1,588,Isadore,None,Hall,False
2,1,34692,For,CA,2016-07-12 23:24:50,4,1468365890,CA_201520160SCR13,2015-02-05,1,1,587,Isadore,None,Hall,False
3,1,34693,For,CA,2016-07-12 23:24:54,5,1468365894,CA_201520160SCR5,2015-02-09,1,1,588,Isadore,None,Hall,False
4,1,34694,For,CA,2016-07-12 23:24:52,6,1468365892,CA_201520160SJR2,2015-02-13,1,1,591,Isadore,None,Hall,False

In [18]:
leg_votes_all_df = df

In [32]:
filters = ['unanimous', 'abstain_vote', 'resolution']
sessions = [2015, 2017, None]
filter_combinations = []
for i in range(len(filters) + 1):
    filter_combinations += (list(itertools.combinations(filters, i)))

In [33]:
combinations = []
for session in sessions:
    for combo in filter_combinations:
        combinations.append((combo, session))

In [34]:
len(combinations)

24

In [35]:
combinations

[((), 2015),
 (('unanimous',), 2015),
 (('abstain_vote',), 2015),
 (('resolution',), 2015),
 (('unanimous', 'abstain_vote'), 2015),
 (('unanimous', 'resolution'), 2015),
 (('abstain_vote', 'resolution'), 2015),
 (('unanimous', 'abstain_vote', 'resolution'), 2015),
 ((), 2017),
 (('unanimous',), 2017),
 (('abstain_vote',), 2017),
 (('resolution',), 2017),
 (('unanimous', 'abstain_vote'), 2017),
 (('unanimous', 'resolution'), 2017),
 (('abstain_vote', 'resolution'), 2017),
 (('unanimous', 'abstain_vote', 'resolution'), 2017),
 ((), None),
 (('unanimous',), None),
 (('abstain_vote',), None),
 (('resolution',), None),
 (('unanimous', 'abstain_vote'), None),
 (('unanimous', 'resolution'), None),
 (('abstain_vote', 'resolution'), None),
 (('unanimous', 'abstain_vote', 'resolution'), None)]

In [21]:
leg_votes_df_lst = []
for combo in combinations:
    leg_votes_df = leg_votes_all_df.copy()
    for flter in combo:
        leg_votes_df = leg_votes_df[leg_votes_df[flter] == 1]
    leg_votes_df_lst.append(leg_votes_df)

In [24]:
for df in leg_votes_df_lst:
    print(len(df))

266798
148950
13551
20982
5766
16082
1564
937

In [20]:
leg_votes_df.head()

,pid,voteId,result,state,lastTouched,dr_id,lastTouched_ts,bid,date,unanimous,resolution,hid,first,middle,last,abstain_vote
0,1,34690,For,CA,2016-07-12 23:24:54,2,1468365894,CA_201520160SCR10,2015-02-09,1,1,588,Isadore,None,Hall,False
1,1,34691,For,CA,2016-07-12 23:24:54,3,1468365894,CA_201520160SR11,2015-02-09,1,1,588,Isadore,None,Hall,False
2,1,34692,For,CA,2016-07-12 23:24:50,4,1468365890,CA_201520160SCR13,2015-02-05,1,1,587,Isadore,None,Hall,False
3,1,34693,For,CA,2016-07-12 23:24:54,5,1468365894,CA_201520160SCR5,2015-02-09,1,1,588,Isadore,None,Hall,False
4,1,34694,For,CA,2016-07-12 23:24:52,6,1468365892,CA_201520160SJR2,2015-02-13,1,1,591,Isadore,None,Hall,False

In [17]:
combinations

[(),
 ('unanimous',),
 ('abstain_vote',),
 ('resolution',),
 ('unanimous', 'abstain_vote'),
 ('unanimous', 'resolution'),
 ('abstain_vote', 'resolution'),
 ('unanimous', 'abstain_vote', 'resolution')]

In [10]:
leg_votes_df.head()

,pid,voteId,result,state,lastTouched,dr_id,lastTouched_ts,bid,VoteDate,hid,first,middle,last
0,1,34690,AYE,CA,2016-07-12 23:24:54,2,1468365894,CA_201520160SCR10,2015-02-09,588,Isadore,None,Hall
1,1,34691,AYE,CA,2016-07-12 23:24:54,3,1468365894,CA_201520160SR11,2015-02-09,588,Isadore,None,Hall
2,1,34692,AYE,CA,2016-07-12 23:24:50,4,1468365890,CA_201520160SCR13,2015-02-05,587,Isadore,None,Hall
3,1,34693,AYE,CA,2016-07-12 23:24:54,5,1468365894,CA_201520160SCR5,2015-02-09,588,Isadore,None,Hall
4,1,34694,AYE,CA,2016-07-12 23:24:52,6,1468365892,CA_201520160SJR2,2015-02-13,591,Isadore,None,Hall

In [ ]:
leg_votes_df

In [133]:
leg_votes_df.columns

Index(['pid', 'voteId', 'result', 'state', 'lastTouched', 'dr_id',
       'lastTouched_ts', 'bid', 'date', 'hid', 'first', 'middle', 'last'],
      dtype='object')

In [161]:
org_alignments_df = org_alignments_df.drop_duplicates(['oid', 'bid', 'hid'])

In [2]:
def get_positions(g):
    out = 1
    alignments = g['alignment']
    last = alignments.iloc[0]
    for a in alignments.iloc[1:]:
        if a != last:
            out += 1
        last = a
    return out

In [1]:

def get_position_info(full_df, org_alignments_df, leg_votes_df):
    df_j = org_alignments_df.merge(full_df, how='inner', on=['bid', 'oid'])

    groups = df_j.groupby(['pid', 'oid', 'bid'])
    positions = groups.apply(get_positions).reset_index().rename(columns={0: 'positions'})
    df = org_alignments_df.groupby(['bid', 'oid'])['date'].apply(min).reset_index()

    # aff_df = df.merge(leg_votes_df, how='inner', on=['bid'], suffixes=['_leg', '_org'])
    # aff_df = aff_df[aff_df['date_leg'] >= aff_df['date_org']]
    # groups = aff_df.groupby(['oid', 'bid', 'pid'])

    groups = org_alignments_df.groupby(['bid', 'oid'])

    affirmations = groups.apply(len).reset_index().rename(columns={0: 'affirmations'})
    df = positions.merge(affirmations, on=['bid', 'oid'])
    # df = positions.merge(affirmations, on=['oid', 'bid', 'pid'])

    return df.merge(full_df, on=['pid', 'oid', 'bid'])

In [9]:
full_df = pd.concat(scores_df_lst)

In [10]:
out = get_position_info(full_df, org_alignments_df, leg_votes_df)

In [11]:
out.affirmations.max()

8

In [12]:
len(out)

204882

In [13]:
org_alignments_df.bid.nunique()

1590

In [20]:
full_df.bid.nunique()

1462

In [24]:
len(set(org_alignments_df.bid) & set(leg_votes_df.bid))

1487

In [22]:
leg_votes_df.bid.nunique()

3149

In [18]:
len(org_alignments_df.groupby(['bid', 'oid']))

3134

In [19]:
len(out.groupby(['bid', 'oid']))

2770

In [178]:
out.head()

,pid,oid,bid,positions,affirmations,aligned_votes,alignment_percentage,total_votes
0,1,-21,CA_201520160AB101,1,3,1,1.0,1
1,2,-21,CA_201520160AB101,1,3,1,1.0,1
2,3,-21,CA_201520160AB101,1,3,1,1.0,1
3,4,-21,CA_201520160AB101,1,3,1,1.0,1
4,5,-21,CA_201520160AB101,1,3,1,1.0,1

In [137]:
out.columns

Index(['pid', 'oid', 'bid', 'positions', 'affirmations', 'aligned_votes',
       'alignment_percentage', 'total_votes'],
      dtype='object')

In [188]:
cnxn = pymysql.connect(**CONN_INFO)

In [183]:
df.to_sql('BillAlignmentScoresAndrew', cnxn, flavor='mysql', if_exists='replace', index=False)

C:\Users\andre\Anaconda3\lib\site-packages\pandas\core\generic.py:1165: FutureWarning: The 'mysql' flavor with DBAPI connection is deprecated and will be removed in future versions. MySQL will be further supported with SQLAlchemy connectables.
  chunksize=chunksize, dtype=dtype)

In [189]:
data_df = make_data_table(org_alignments_df, leg_votes_df)
data_df.to_sql('AlignmentScoresData', cnxn, flavor='mysql', if_exists='replace', index=False)

C:\Users\andre\Anaconda3\lib\site-packages\pandas\core\generic.py:1165: FutureWarning: The 'mysql' flavor with DBAPI connection is deprecated and will be removed in future versions. MySQL will be further supported with SQLAlchemy connectables.
  chunksize=chunksize, dtype=dtype)

In [374]:
cnxn = pymysql.connect(**CONN_INFO)

In [378]:
cursor = cnxn.cursor()
query = '''UPDATE AlignmentScoresExtraInfo 
           SET positions_registered = %s
           WHERE oid = %s'''
counts = org_alignments_df.groupby('oid')['oid'].count()
for oid, count in counts.iteritems():
#     print(oid)
    cursor.execute(query % (count, oid))
cnxn.commit()

In [379]:
cursor = cnxn.cursor()
query = '''UPDATE AlignmentScoresAggregated
           SET positions_registered = %s
           WHERE oid = %s'''
counts = org_alignments_df.groupby('oid')['oid'].count()
for oid, count in counts.iteritems():
#     print(oid)
    cursor.execute(query % (count, oid))
cnxn.commit()

In [384]:
counts = org_alignments_df.groupby('oid')['oid'].apply(len)
for oid, count in counts.iteritems():
    print(oid, count)

-21 502
-20 434
-19 241
-18 183
-17 229
-16 420
-15 291
-14 507
-13 151
-12 152
-11 203
-10 173
-9 169
-8 252
-7 253
-6 258
-5 403
-4 576
-3 557
-2 153
-1 342

In [335]:
org_alignments[org_alignments.oid == -16]

,oid,bid,hid,alignment,date,org_name
279,-16,CA_201520160AB1584,1412,For,2016-06-28,American Civil Liberties Union of California
280,-16,CA_201520160AB1726,1378,For,2016-06-22,American Civil Liberties Union of California
281,-16,CA_201520160AB1770,1412,For,2016-06-28,American Civil Liberties Union of California
282,-16,CA_201520160AB2320,1015,Against,2016-04-20,American Civil Liberties Union of California
283,-16,CA_201520160AB2389,1098,For,2016-05-04,American Civil Liberties Union of California
284,-16,CA_201520160AB267,318,For,2015-06-16,American Civil Liberties Union of California
285,-16,CA_201520160AB696,318,For,2015-06-16,American Civil Liberties Union of California
286,-16,CA_201520160AB718,232,For,2015-05-13,American Civil Liberties Union of California
287,-16,CA_201520160SB1036,1309,Against,2016-06-14,American Civil Liberties Union of California
288,-16,CA_201520160SB589,393,For,2015-07-07,American Civil Liberties Union of California
289,-16,CA_201520160SB999,1395,For,2016-06-28,American Civil Liberties Union of California
290,-16,CA_20162017BUD2740,1100,Against,2016-05-04,American Civil Liberties Union of California
291,-16,CA_201520160AB1726,1414,For,2016-06-29,American Civil Liberties Union of California
292,-16,CA_201520160AB827,404,For,2015-07-08,American Civil Liberties Union of California
293,-16,CA_201520160SB251,393,Against,2015-07-07,American Civil Liberties Union of California
294,-16,CA_201520160SB524,414,For,2015-07-14,American Civil Liberties Union of California
295,-16,CA_201520160SB589,383,For,2015-07-01,American Civil Liberties Union of California
296,-16,CA_20152016BUD5180,435,For,2015-03-26,American Civil Liberties Union of California
297,-16,CA_201520160AB54,286,Against,2015-04-21,American Civil Liberties Union of California

In [337]:
org_alignments[org_alignments.oid == -16].bid.value_counts()

CA_201520160SB589     2
CA_201520160AB1726    2
CA_201520160SB251     1
CA_201520160AB1770    1
CA_201520160AB54      1
CA_201520160AB1584    1
CA_201520160AB827     1
CA_201520160SB1036    1
CA_201520160SB524     1
CA_201520160AB696     1
CA_201520160SB999     1
CA_201520160AB2389    1
CA_201520160AB2320    1
CA_201520160AB718     1
CA_20152016BUD5180    1
CA_20162017BUD2740    1
CA_201520160AB267     1
Name: bid, dtype: int64

In [191]:
org_alignments_df.head()

,oid,bid,hid,alignment,date,org_name
0,-21,CA_201520160AB1719,1328,For,2016-06-15,"American Federation of State, County and Munic..."
1,-21,CA_201520160AB2341,1415,Against,2016-06-28,"American Federation of State, County and Munic..."
2,-21,CA_201520160SB376,424,For,2015-07-15,"American Federation of State, County and Munic..."
3,-21,CA_201520160SB381,282,Against,2015-04-29,"American Federation of State, County and Munic..."
4,-21,CA_201520160SB877,1397,For,2016-06-28,"American Federation of State, County and Munic..."

In [193]:
leg_votes_df.head()

,pid,voteId,result,state,lastTouched,dr_id,lastTouched_ts,bid,date,hid,first,middle,last
0,65,39065,For,CA,2016-07-12 23:31:00,235727,1468366260,CA_201520160AB1,2015-06-10,305,Janet,None,Nguyen
1,92,39065,For,CA,2016-07-12 23:31:00,341579,1468366260,CA_201520160AB1,2015-06-10,305,Jim,None,Beall
2,99,39065,For,CA,2016-07-12 23:31:00,362651,1468366260,CA_201520160AB1,2015-06-10,305,Robert,None,Hertzberg
3,103,39065,For,CA,2016-07-12 23:31:00,372163,1468366260,CA_201520160AB1,2015-06-10,305,Ed,None,Hernandez
4,104,39065,For,CA,2016-07-12 23:31:00,375538,1468366260,CA_201520160AB1,2015-06-10,305,Fran,None,Pavley

In [150]:
type(counts)

pandas.core.series.Series

In [62]:
s = pd.Series(['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b'])

In [66]:
def f(v):
    if v == 'a':
        return pd.Series({'col_1': 'a', 'col_2': 'b'})
    else:
        return pd.Series()

In [67]:
s.apply(f)

  col_1 col_2
0     a     b
1   NaN   NaN
2     a     b
3   NaN   NaN
4     a     b
5   NaN   NaN
6     a     b
7   NaN   NaN

In [286]:
row1 = {'pid': -1, 
       'voteId': 0, 
       'result': 'For', 
       'state': None, 
       'lastTouched': None, 
       'dr_id': None, 
       'lastTouched_ts': None, 
       'bid': 'CA_201520160AB768',
       'date': datetime(2015, 5, 27), 
       'hid': None, 
       'first': None, 
       'middle': None, 
       'last': None}

row2 = {'pid': -1, 
       'voteId': 0, 
       'result': 'For', 
       'state': None, 
       'lastTouched': None, 
       'dr_id': None, 
       'lastTouched_ts': None, 
       'bid': 'CA_201520160AB768',
       'date': datetime(2015, 6, 29), 
       'hid': None, 
       'first': None, 
       'middle': None, 
       'last': None}

In [287]:
leg_votes_df_sample = leg_votes_df.append([row1, row2], ignore_index=True)

In [292]:
pickle.dump(leg_votes_df_sample, open('leg_votes_df_sample.p', 'wb'))

In [284]:
len(leg_votes_df_sample)

40258