In [18]:
import pickle
import datetime

In [71]:
# bill_info_df = pickle.load(open('bill_info_df.p', 'rb'))
# matched_hearing = pickle.load(open('matched_hearing.p', 'rb'))
# file_info = pickle.load(open('file_info.p', 'rb'))
org_df = pickle.load(open('org_df.p', 'rb'))

In [72]:
len(org_df.index)

22537

In [46]:
org_df.columns

Index(['oid', 'name'], dtype='object')

In [66]:
org_df[org_df.apply(lambda x: 'association of california school' in x['name'].lower(), axis=1)]

         oid                                             name
450      451  Association Of California School Administrators
12958  20638  Association Of California School Administrators

In [73]:
org_df[org_df.name.str.lower() == 'American Legion-Department of California'.lower()]

       oid                                      name
22422  NaN  American Legion-Department of California

In [68]:
org_df[org_df.name == 'Association Of California School Administrators']

         oid                                             name
450      451  Association Of California School Administrators
12958  20638  Association Of California School Administrators

In [41]:
file_info['bid']

'CA_201520160AB944'

In [40]:
bill_info_df[bill_info_df.bid == file_info['bid']]

Empty DataFrame
Columns: [bid, hid, date]
Index: []

In [28]:
possible_hearings_df = bill_info_df[(bill_info_df.bid == file_info['bid']) &
                                    (bill_info_df.date >= file_info['date'])]

In [34]:
possible_hearings_df[possible_hearings_df['date'] == possible_hearings_df['date'].min()]

                   bid  hid        date
196  CA_201520160AB400  132  2015-04-15